/* Utility classes */
	.hide { display: none; }
	.left { float: left; }
	.right { float: right; }
	.pointer { cursor: pointer; }

/* Content */
	#event-details h4 {
		border: 1px solid #ddd;
		padding: .5rem;
		clear: both;
	}
	#event-details table td:first-child {
		text-align: right;
		padding-right: 15px;
	}
	#event-details .datepicker {
		width: 104px;
	}
	#event-details .timepicker {
		width: 80px;
	}
	#map {
		width: 350px;
		height: 200px;
		float: right;
	}